---
const personalImageAlt = "Muhammad Moiz Hassan"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      I'm Muhammad Moiz Hassan, a <strong>Web Developer</strong> with over <strong>3 years of experience</strong> in <strong>WordPress development, customization, speed optimization, SEO, and Shopify development</strong>. My passion is creating <strong>efficient, visually appealing websites</strong> that deliver seamless user experiences across all devices.
    </p>

    <p>
      I also run <strong>AH Bytes</strong> as the <strong>COO</strong>, where I <strong>lead and manage a team</strong> of professionals in delivering <strong>cutting-edge web solutions</strong> tailored to client needs. My role involves coordinating with developers, designers, and clients to ensure <strong>high-quality standards</strong> and successful project delivery.
    </p>

    <p>
      My focus is on leveraging the latest technologies and industry trends to continuously enhance my skills and provide exceptional service to my clients. If you're looking for a <strong>reliable partner</strong> to develop and optimize your website, I'm here to help you bring your web projects to life. <strong>Let's collaborate to create something truly remarkable!</strong>
    </p>
  </div>

  <img width="200" height="200" src="/profile.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
